<div class="container">

	<h1>Add your Wisdom</h1>

	<!-- Creating the form -->
	<div class="span5 well">
		<%= form_for(:sentence, :url => {:action => 'update', :id => @sentence.id}) do |f| %>
			<%= f.label :name, "Your Name" %>
				<%= f.text_field(:name) %>
			
			<%= f.label :twitterhandle, "Your Twitterhandle" %>
				<%= f.text_field(:twitterhandle) %>
			
			<%= f.label :email, "Your email" %>
				<%= f.text_field(:email) %>

			<%= f.label :visible, "Is this piece of advice visible" %>
				<%= f.text_field(:visible) %>

			<%= f.label :advice, "Your Advice" %>
				<%= f.text_field(:advice) %>

			<%= submit_tag("Update your Advice") %>
		<% end %>
	</div>
</div>

