<div class="dow">
	<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#advice">
    	<i class="icon-chevron-down"></i>
    </button>
</div>
    <div id="advice" class="collapse">
		<div class="well">
			<div class="row">
				<div class="span4">
					<h3>Have some fucking good advice?</h3>
				</div>
				<div class="span3">
					<h5>Great! We review every piece of advice before we post it to make sure it's really fucking good.</h5>
				</div>
				<div class="span4">
					<%= form_for(:sentence_home, :url => {:action => 'create_home'}) do |f| %>

						
						<%= f.label :twitterhandle, "Your Twitterhandle" %>
							<%= f.text_field(:twitterhandle) %>
						


						<%= f.label :advice, "Your Advice" %>
							<%= f.text_field(:advice) %>
						</br>
						<%= submit_tag("Send your Advice") %>
					<% end %>
				</div>
			</div>
		</div>
	</div>

<div class="container">
<!-- flash message goes here -->
<% if !flash[:notice].blank? %>
	<div class="alert">
		<%= flash[:notice] %>
	</div>
<% end %>
<!-- end of flash message goes here -->

<h1>Draw the Fucking Owl</h1>
<h3>Good fucking Startup advice for people who love Startups</h3>
<p class="hr">
	<div class="box">
		<h1 class="custom-h1"><%= @sentence.advice %></h1>
		<p class="pull-right"><%= link_to("By #{@sentence.twitterhandle}", "http://www.twitter.com/#{@sentence.twitterhandle}", :target => '_blank', :class => 'twitter-link') %></p>

	</div>

	<div class="pull-right">
		<%= link_to("Not enough, I need more advice!", {:action => 'index'}, :class => 'next-link') %>
	</div>



</div>

