<div class="container">
	<div class="text-center down">
		<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#advice">
	    	<i class="icon-chevron-down"></i>
	    		<strong> Add Your Own Advice </strong>
	    	<i class="icon-chevron-down"></i>
	    </button>
	</div>
</div>
<script>
	var sentences =  <%= raw @sentence.to_json.gsub("</", "<\\/") %>;
</script>
<script id="adviceTemplate" type="text/html">
	<h1 class="custom-h1">{{advice}}</h1>
	<p class="pull-right">By <a class="twitter-link" target="_blank" href="http://www.twitter.com/{{twitterhandle}}">{{twitterhandle}}</a>
	</p>
</script>
<script id="noadviceTemplate" type="text/html">
	<h1 class="custom-h1 text-center">We are out of fucking advice!</h1>
		<div class="text-center">
			<button type="button" class="btn btn-danger btn-large" data-toggle="collapse" data-target="#advice">
	    		<strong>Add Your Own Advice</strong>
	    	</button>	    		
	    </div>
	</p>
</script>


<%=render 'new123' %>


<div class="container">
<!-- flash message goes here -->
<% if !flash[:notice].blank? %>
	<div class="alert">
		<%= flash[:notice] %>
	</div>
<% end %>
<!-- end of flash message goes here -->
<div class="row">
	<div class="span2">
		<%= image_tag('o.png') %>
	</div>
	<div class="span8 headline-box">
		<h1>Draw the Fucking Owl</h1>
		<h3>Good fucking startup advice for people who love startups</h3>
	</div>
	<div class="span1 offset1 social-box">
		<%= twitter_button :title=> 'Draw the fucking Owl', :url=> 'http://drawthefuckingowl.com' %>
		<%= facebook_button :title=> 'Draw the fucking Owl', :url=> 'http://drawthefuckingowl.com' %>
	</div>
</div>
<p class="hr">


	<div id="adviceBox" class="box">

	</div>

	<div class="pull-right link-box">
		<a id="next_advice" class="next-link" href="#">Not enough, I need more advice!</a>
	</div>



</div>

