<div class="container">
<div class="down">
	<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#advice">
    	<i class="icon-chevron-down"></i>
    </button>
</div>
</div>

<%=render 'new123' %>


<div class="container">
<!-- flash message goes here -->
<% if !flash[:notice].blank? %>
	<div class="alert">
		<%= flash[:notice] %>
	</div>
<% end %>
<!-- end of flash message goes here -->
<div class="row">
	<div class="span2">
		<%= image_tag('o.png') %>
	</div>
	<div class="span8 headline-box">
		<h1>Draw the Fucking Owl</h1>
		<h3>Good fucking Startup advice for people who love Startups</h3>
	</div>
</div>
<p class="hr">


	<div class="box">
		<h1 class="custom-h1"><%= @sentence.advice %></h1>
		<p class="pull-right"><%= link_to("By #{@sentence.twitterhandle}", "http://www.twitter.com/#{@sentence.twitterhandle}", :target => '_blank', :class => 'twitter-link') %></p>

	</div>

	<div class="pull-right link-box">
		<%= link_to("Not enough, I need more advice!", {:action => 'index'}, :class => 'next-link') %>
	</div>



</div>

